.pagination {
    list-style: none;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.pagination li {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.pagination li.btn,
.pagination li.next,
.pagination li.prev {
    cursor: pointer;
}

.pagination li.num {
    border: 2px solid transparent;
    cursor: pointer;
    border-color: var(--dark-grey);
    border-radius: 50px;
}

.pagination li.dots {
    cursor: default;
}

.pagination li.num:hover {
    border-color: var(--dark);
    font-family: notosans semibold;
}

.pagination li.num.active {
    border-color: var(--blue);
    cursor: default;
    font-family: notosans regular;
}

.pagination li.prev:hover,
.pagination li.next:hover {
    color: var(--blue);
}