@use "../abstracts/" as *;
.carts__container{
    margin-top: $nav-height;
    @include tablet {
        margin-top: $nav-height-shrink;
    }
    @include mobile {
        margin-top: $nav-height-shrink-moble;
    }
    padding: 10px;
    background-color: $color-white;
    &__header{
        padding-bottom: 10px;
        &__control{
            display: inline-block;
            line-height: 35px;
            padding: 0px 15px;
            color: $color-text;
            background-color:#d9d9d9;
            font-weight: bold;
            font-size: 1.4rem;
            cursor: pointer;
            &:hover{
                background-color: #cbc9c9;
            }
        }
        &__control.active{
            background-color: $color-primary-second;
            color: $color-black;
            cursor: default;
        }
        border-bottom: 1px solid $color-border
    }
    &__total, &__buy{
        display: none
    }
    &__total.show{
        display: inline-block;
        font-weight: 500;
    }
    &__buy.show{
        display: inline-block;
        font-size: 1.6rem;
        padding: 0px 20px;
        background-color: $color-primary-second;
        color: $color-white;
        cursor: pointer;
        border: none;
        outline: none;
        text-decoration: none;
        line-height: 35px;
        border-radius: $border-radius;
    }
    &__buy:hover{
        color: $color-black;
    }
}
.carts__container__item{
    @include flex(space-between,center);
    padding: 5px 10px;
    border: 1px solid $color-border;
    margin-bottom: 10px;
    &__detail{
        text-decoration: none;
        @include flex(flex-start,center);
        width: 60%;
        &__img{
            width: 80px;
            height: 80px;
            border: 1px solid $color-border;
            margin-right: 10px;
            > img{
                height: 100%;
                object-fit: cover;
            }
        }
        &__title{
            overflow: hidden;
            font-size: 1.4rem;
            color: $color-black;
            line-height: 1.7rem;
            text-overflow: ellipsis;
            word-break: break-all;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            max-width: 370px;
        }
        &__price{
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: 500;
            color: $color-text;
            margin-top: 5px;
            &-old{
                display: inline-block;
                text-decoration: line-through;
                margin-right: 5px;

            }
            &-current{
                color: $color-red;
            }
        }
        &__order{
            @include flex(space-between,center);
            margin-top: 5px;
            &__left{
                color: $color-red;
                font-size: 1.4rem;
                font-weight: 500;
                & > sup{
                    margin-left: 5px;
                }
                &-quantity{
                    font-weight: 400;
                    color: $color-text;
                    margin-right: 20px;
                }
                &-price{
                    font-weight: 400;
                    & > .old-price{
                        margin-right: 5px;
                        color: $color-text;
                        text-decoration: line-through;
                    }
                }
            }
            &__right{
                font-size: 1.7rem;
                text-align: right;
                flex-grow:1 ;
                color: $color-red;
                font-size: 1.4rem;
                &-status{
                    margin-right: 10px;
                }
            }
        }
    }
    &__action{
        padding-left: 15px;
        flex-grow: 1;
        @include flex(space-between,center);
        &__quantity{
            @include flex(flex-start,center);
            & > span{
                line-height: 35px;
                text-align: center;
                padding: 0px 15px;
                border: 1px solid $color-border;
                color: $color-text;
                font-size: 1.6rem;
                cursor: pointer;
            }
            & > span:hover{
                border-color: $color-black;
                color: $color-black;
            }
            & > &-quantity{
                border-left: none;
                border-right: none;
                padding: 0px 20px;
                cursor: default;
            }
            & > &-quantity:hover{
                color: $color-text;
                border-color: $color-border;
            }
            &-current{
                display: inline-block;
                color: $color-red;
                font-size: 1.4rem;
                margin-left: 10px;
            }
        }
        &__btn{
            flex-grow: 1;
            @include flex(flex-end,center);
            & > button{
                border: none;
                outline: none;
                border-radius: $border-radius;
                color:$color-black;
                font-size: 1.6rem;
                text-transform: capitalize;
                line-height: 35px;
                padding: 0px 15px;
                background-color: $color-primary-second;
                cursor: pointer;
                transition: all 0.3s ease;
            }
            & > button:hover{
                opacity: 0.8;
            }
            & > button.delete{
                margin-left: 10px;
                background-color: $color-text;
                color: $color-white;
            }
        }
    }
}
.carts__container__list__ordered .carts__container__item__detail{
    width: 100%;
}
.carts__container__item__detail__content{
    flex-grow: 1;
    & > .carts__container__item__detail__title{
        width: 100%;
        max-width: max-content;
        font-size: 1.7rem;
        color: $color-black;
    }
}
.carts__container__list__cart,.carts__container__list__ordered{
    display: none;
}
.carts__container__list__cart.show,.carts__container__list__ordered.show{
    display: block;
}